@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background: linear-gradient(45deg, #2ca74a 30%, #c1f834 90%);
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  color: white;
  height: 50px;
}

.btn .icon-rounded {
  border-radius: 50%;
}

.splash-screen {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
}

.splash-screen .logo {
  margin-bottom: 5rem;
}

.logo {
  max-width: 200px;
}

.SignIn .logo {
  max-width: 100px;
  margin: 2rem auto;
}

.SignIn form {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.SignIn form select {
  background-color: transparent;
  color: white;
  border: 2px solid rgb(73, 73, 73);
  border-radius: 15px;
  outline: 0;
}

.SignIn form select option {
  background-color: black;
}

.SignIn section {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.SignIn section .signin__avatar {
  margin: 1rem auto 1.5rem;
  min-height: 150px;
}

.SignIn section .signin__avatar img {
  width: 150px;
}

.SignIn section .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  align-items: center;
}

.SignIn section .footer h5 {
  margin: 0;
}

main {
  display: flex;
  min-height: 600px;
  width: 100%;
  border-radius: 30px;
  background: #1e1f23;
  overflow: hidden;
  
}

nav {
  width: 250px;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 6%) 0px 5px 5px -3px, rgb(0 0 0 / 4%) 0px 8px 10px 1px, rgb(0 0 0 / 4%) 0px 3px 14px 2px;
}

nav .logo {
  max-width: 70px;
  margin: 0 auto;
}

nav .menu {
  padding: 1rem;
}

nav .menu ul {
  margin: 2rem 0;
}

nav .menu ul li {
  margin-bottom: 10px;
}

nav .menu ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  width: 100%;
  font-weight: 500;
  border-radius: 8px;
}

nav .menu ul li a:hover {
  background-color: #6846ec;
}

nav .menu ul li a svg {
  margin-right: 15px;
}

main section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
}

main section header {
  height: 90px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding: 0 2rem;
}

main section header h1 {
  margin: 0;
  font-size: 16px;
  margin-right: 15px;
}

main section article {
  padding: 2rem;
}

.inner-section {
  max-width: 500px;
}

.inner-section h1 {
  text-align: center;
  margin-bottom: 25px;
}

.inner-section h2 {
  text-align: center;
  color: gray;
  font-size: 20px;
  margin-bottom: 25px;
}

.inner-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.inner-section h5 {
  font-size: 20px;
  text-align: center;
  margin: 1rem auto;
}

.inner-section form input {
  background-color: transparent;
  color: white;
  border: 2px solid rgb(73, 73, 73);
  border-radius: 15px;
  height: 50px;
}

.inner-section form button {
  width: 100%;
  margin-top: 15px;
}

.inner-section form input:focus {
  background-color: transparent;
  color: white;
  outline: 0;
}

/* Leaderboard */

.inner-section .scorecard {
  background-color: black;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 2px 30px 0 0;
}

.inner-section .scorecard img {
  width: 50px;
}

.inner-section .scorecard:nth-child(1) {
  background-color: transparent;
  flex-direction: column;
  padding: 0;
}

.inner-section .scorecard:nth-child(1) img {
  width: 100px;
  border: 3px solid #2ceac8;
  border-radius: 50%;
  margin-bottom: 15px;
}

.inner-section .scorecard:nth-child(1)::before {
  content: '';
  display: flex;
  background-image: url('avatars/stars.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 25px;
  margin-bottom: 5px;
}