@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: #6846ec;
  color: white;
  height: 50px;
}

.btn .icon-rounded {
  border-radius: 50%;
}

.splash-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
}

.splash-screen .logo {
  margin-bottom: 5rem;
}

.logo {
  max-width: 200px;
}

.SignIn .logo {
  max-width: 100px;
  margin: 2rem auto;
}

.SignIn form {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.SignIn form select {
  background-color: transparent;
  color: white;
  border: 2px solid rgb(73, 73, 73);
  border-radius: 15px;
  outline: 0;
}

.SignIn form select option {
  background-color: black;
}

.SignIn section {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.SignIn section .signin__avatar {
  margin: 1rem auto 1.5rem;
  min-height: 150px;
}

.SignIn section .signin__avatar img {
  width: 150px;
}

.SignIn section .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  align-items: center;
}

.SignIn section .footer h5 {
  margin: 0;
}

main {
  display: flex;
  min-height: 600px;
  width: 100%;
  border-radius: 30px;
  background: #1e1f23;
  overflow: hidden;
  
}

nav {
  width: 250px;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 6%) 0px 5px 5px -3px, rgb(0 0 0 / 4%) 0px 8px 10px 1px, rgb(0 0 0 / 4%) 0px 3px 14px 2px;
}

nav .logo {
  max-width: 70px;
  margin: 0 auto;
}

nav .menu {
  padding: 1rem;
}

nav .menu ul {
  margin: 2rem 0;
}

nav .menu ul li {
  margin-bottom: 25px;
  position: relative;
}

nav .menu ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  width: 100%;
  font-weight: 500;
  border-radius: 8px;
}

nav .menu ul li a::before {
  content: '';
  display: block;
  position: absolute;
  left: -16px;
  top: 0px;
  width: 5px;
  height: 44px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

nav .menu ul li a.active::before {
  background-color: #6846ec;
}

nav .menu ul li a.active {
  background-color: #6846ec;
}

nav .menu ul li a:hover {
  color: black;
  background-color: #6846ec;
}

nav .menu ul li a svg {
  margin-right: 15px;
}

main section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
}

main section header {
  height: 90px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding: 0 2rem;
}

main section header .avatar-icon {
  width: 35px;
  margin-right: 15px;
}

main section header h1 {
  margin: 0;
  font-size: 16px;
  margin-right: 15px;
}

main section article {
  padding: 2rem;
}

.inner-section {
  max-width: 500px;
}

.inner-section h1 {
  text-align: center;
  margin-bottom: 25px;
}

.inner-section h2 {
  text-align: center;
  color: gray;
  font-size: 20px;
  margin-bottom: 25px;
}

.inner-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.inner-section h5 {
  font-size: 20px;
  text-align: center;
  margin: 1rem auto;
}

.inner-section form input {
  background-color: transparent;
  color: white;
  border: 2px solid rgb(73, 73, 73);
  border-radius: 15px;
  height: 50px;
}

.inner-section form button {
  width: 100%;
  margin-top: 15px;
}

.inner-section form input:focus {
  background-color: transparent;
  color: white;
  outline: 0;
}

/* Leaderboard */

.inner-section .stats-list {
  display: flex;
  flex-wrap: wrap;
}

.inner-section .scorecard {
  background-color: black;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 2px 30px 0 0;
  width: 100%;
  order: 4;
}

.inner-section .scorecard img {
  width: 50px;
}

.inner-section .scorecard:nth-child(1) {
  background-color: transparent;
  flex-direction: column;
  padding: 0;
  width: 33.3333%;
  order: 2;
}

.inner-section .scorecard:nth-child(1) img {
  width: 125px;
  border: 3px solid #2ceac8;
  border-radius: 50%;
  margin-bottom: 15px;
}

.inner-section .scorecard:nth-child(1)::before {
  content: '';
  display: flex;
  background-image: url('avatars/stars.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 35px;
  margin-bottom: 10px;
}

/* 2nd Place */
.inner-section .scorecard:nth-child(2) {
  background-color: transparent;
  flex-direction: column;
  padding: 0;
  width: 33.3333%;
  order: 1;
  justify-content: flex-end;
}

.inner-section .scorecard:nth-child(2) img {
  width: 95px;
  border: 3px solid #2ceac8;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* 3rd Place */
.inner-section .scorecard:nth-child(3) {
  background-color: transparent;
  flex-direction: column;
  padding: 0;
  width: 33.3333%;
  order: 3;
  justify-content: flex-end;
}

.inner-section .scorecard:nth-child(3) img {
  width: 75px;
  border: 3px solid #2ceac8;
  border-radius: 50%;
  margin-bottom: 15px;
}

.questionCard {
  background-color: rgb(0 0 0 / 22%);
  box-shadow: inset 10px 10px 25px 5px rgb(0 0 0 / 25%);
  border-radius: 8px;
  padding: 2rem 1rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.questionCard:hover {
  color: #6846ec;
}

.questionCard img {
  width: 50px;
  margin: 0 25px 0 10px;
}

.questionCard .info {
  width: 100%;
}

.questionCard .author {
  font-size: 12px;
  color: gray;
}

.questionCard .option-1 {
  font-size: 14px;
}

/* View Question */

.hero {
  background-color: black;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.hero img {
  max-width: 75px;
  margin-bottom: 15px;
}

.hero h2 {
  margin: 0;
}

input[type=radio] {
  display: none;
}
input[type=radio]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type=radio]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

label {
  height: 100%;
  display: flex;
  background: transparent;
  border: 2px solid #2ceac8;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

label p {
  margin: 0;
}

input[type=radio]:checked + label {
  background: #2ceac8;
  color: black;
  justify-content: space-between;
}

input[type=radio]:checked + label::after {
  color: black;
  font-family: 'Material Icons';
  content: '\e86c';
  font-size: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.optionResults {
  margin-bottom: 15px;
  position: relative;
  -webkit-box-shadow: inset 10px 10px 25px 5px rgb(0 0 0 / 25%);
  -moz-box-shadow: inset 10px 10px 25px 5px rgba(0,0,0,0.25);
  box-shadow: inset 10px 10px 25px 5px rgb(0 0 0 / 25%);
  padding: 2rem;
  border-radius: 8px;
  transform: scale(0.9);
}

.optionResults.optionSelected {
  transform: scale(1);
}

.optionResults.optionSelected::after {
  display: flex;
  font-family: 'Material Icons';
  content: '\e86c';
  font-size: 40px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #2ceac8;
  position: absolute;
  top: -10px;
  right: -10px;
}

.progress {
  background-color: transparent;
  -webkit-box-shadow: inset 10px 10px 25px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 10px 10px 25px 5px rgba(0,0,0,0.25);
  box-shadow: inset 10px 10px 25px 5px rgba(0,0,0,0.25);
  border-radius: 20px;
}

.progress-bar {
  border-radius: 20px;
  background: rgba(114,56,230,1);
  background: -moz-linear-gradient(left, rgba(114,56,230,1) 0%, rgba(248,73,255,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(114,56,230,1)), color-stop(50%, rgba(248,73,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(114,56,230,1) 0%, rgba(248,73,255,1) 50%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(114,56,230,1) 0%, rgba(248,73,255,1) 50%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(114,56,230,1) 0%, rgba(248,73,255,1) 50%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(114,56,230,1) 0%, rgba(248,73,255,1) 50%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a42cff', endColorstr='#ffffff', GradientType=1 );
}

.progress-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  color: #FFF;
  margin: 10px 0 0;
}

.progress-footer .total-votes {
  color: #999;
}

.progress-footer .percentage {
  font-size: 13px;
}

/* Error 404 */

.error-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-404 h1 {
  font-family: 'Dela Gothic One', cursive;
  font-size: 10rem;
  text-shadow: -7px 0px 0px #6846ec;
}

.error-404 h2 {
  font-size: 14px;
}

.error-404 .btn {
  display: flex;
  max-width: 200px;
  justify-content: center;
  align-items: center;
}